@tailwind base;
@tailwind components;
@tailwind utilities;

/* General font and color settings */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


/* Body styling for centering and min size */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
}

/* App container styling */
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.inputs-section {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

#toDo,
#toDoDate,
#toDoTime
 {
  padding: 10px 15px;  
  border-radius: 8px;  
  color: #333;           
}

#toDo::placeholder {
  color: #888;   /* Light grey color for placeholder text */
  font-style: italic;  /* Italicize placeholder text */
}

.btn-section{
  display: flex;
  justify-content: center;
  padding: 40px 0px;
  gap: 20px;
}

.btn-section button{
  padding: 20px 60px;
}

/* Button styling */
button {
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}


.todo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  margin: 15px 0;
  white-space: 10;
}

.todo-item button{
  padding: 5px 20px ;
  background-color: red;
}

.done-list{
  display: flex;
  margin-top: 100px;
  flex-direction: column; 
  gap: 15px; 
}

h1{
  font-size: 30px;
  text-decoration: underline;
  font-weight: bolder;
}
